.contenedor-header{
    width: auto;
    height: 10rem;
    border: 1px solid black;
    border-radius: 1rem;  
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 1rem;
}


.img-header{
    width: 5rem;
    height: 5rem;
}

.img-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.cont{
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.texto-header{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.numero-header{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}